$main-text-green:#189a46;
$background-color-green:#189a46;
$background-color-night:#151515;
$background-color-night-op:#222222;
$background-color-light:#ffffff;
$text-color-light:#ffffff;
$text-color-light-op:#ddd;
$text-color-light-bold:#afafaf;
$background-item: rgba(147,107,232, 0.05);