@import '../bases/mixins';
@import '../bases/variables';
.top-header{
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    background-color: $background-color-night;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 2rem;
    .logo a{
        @include text(2rem);
        font-weight: bold;
        text-decoration: none;
        color: $main-text-green;
    }
    .collapse-navbar{
        display: none;
        cursor: pointer;
    }
    label{
        display: none;
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
        font-size: 1.5rem;
        background: $main-text-green;
        color: $background-color-light;
        padding: 0.5rem;
        border-radius: 0.5rem;
        z-index: 3;
    }
    .nav-menu{
        @include flex-row;
        a{
            @include main-text;
            text-decoration: none;
            margin-right: 1rem;
            &::after{
                content: "";
                display: block;
                transition: all 0.5s;   
                width: 0;
                height: 2px;
            }
            &:hover::after{
                width:100%;
                background: $main-text-green;
                @include main-text(1rem, $main-text-green)
            }
        }
    }
    .nav-rf{
        position: absolute;
        width: 100%;
        height:0;
        z-index: 2;
        @include flex-row;
        justify-content: center;
        align-items: center;
        transition: all .5s;
        .nav-menu-1{
            position: absolute;
            display: none !important;
            transform: translateY(50%);
            a{
                opacity: 0;
                color: $text-color-light;
                &::after{
                    content: "";
                    display: block;
                    transition: all 0.5s;   
                    width: 0;
                    height: 2px;
                    z-index: 3;
                }
                &:hover::after{
                    width:100%;
                    background: $main-text-green;
                    @include main-text(1rem, $main-text-green)
                }
            }
            .active{
                color: $main-text-green;
            }
            
        }
    }
}

@media screen and (max-width:768px){
    .top-header{
        .collapse-navbar{
            display: none;
            &:checked ~ #nav-rf{
                height: 700px;
                background-color: $background-color-night;
                z-index: 2;
                @include flex-row;
                justify-content: center;
                align-items: center;
                .nav-menu-1{
                    gap: 2rem;
                    display: flex !important;
                    transform: translateY(50%);
                    @include flex-column;
                    a{
                        opacity: 1;
                    }
                }
            }
        }
        label{
            display: block;
        }
    }
}

@media screen and (max-width:576px){
    
}