@import '../bases/mixins';
@import '../bases/variables';

.nav-right{
    position: fixed;
    border-radius: 5px;
    margin-top: 112px;
    width: 90px;
    height: 300px;
    right: 0;
    background-color: #0D1326;
    color: #e6ebff;
    z-index: 1000;
    @include flex-column;
    justify-content: space-around;
    align-items: center;
    .nav-item{
        @include flex-column;
        justify-content: space-around;
        align-items: center;
    }
}